#main-header{
  /* background: #009ea9 !important; */
  background: #025BAA !important;
  .header-top {
    padding: 20px 0 12px 0 !important;
    /* background: #009ea9 !important; */
    background: #025BAA !important;
  }
  .main_menu_wrap{
    background: transparent;
    .nav{
      #slimmenu{
        &>li.menu-item{
          margin-right: 5px;
          &>a{
            /*background: #1F60A6;
            padding: 11px 25px 8px 32px !important;
            font-size: 14px;
            text-transform: capitalize;
            color: #fff;
            border-radius: 10px 10px 0 0;*/
            background: #00355d !important;
            /* background: linear-gradient(#06203c, #383737); */
            padding: 11px 25px 8px 32px !important;
            font-size: 14px;
            text-transform: capitalize;
            color: #fff;
            .fa{
              font-size: 14px;
              color: #fff;
            }
          }
          .sub-toggle{
            .fa{
              color: #fff;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
.search-home-page{
  .search-tabs{
    .nav-tabs{
      padding-left: 10px;
      li{
        a{
          padding: 5px 8px 3px 8px;
          margin-top: 0px;
          background: #025BAA !important;
          color: #fff !important;
          font-weight: normal;
          border-radius: 6px 6px 0px 0px;
          text-transform: capitalize !important;
          font-size: 14px;
          .fa{
            background: transparent !important;
            padding: 0px;
            width: 15px !important;
          }
        }
        &.active{
          a{
            margin-top: 0px !important;
            background: #fff !important;
            color: #025BAA !important;
            font-weight: normal;
            /*font-size: 12px;*/
            padding-top: 5px !important;
            -webkit-border-radius: 6px 6px 0px 0px;
            -moz-border-radius: 6px 6px 0px 0px;
            border-radius: 6px 6px 0px 0px;
          }
        }
      }
    }
    .tab-content{
      .tab-pane{
        border-radius: 5px;
        overflow: hidden;
        h2{
          display: none;
        }
        .form-group{
          margin-bottom: 15px;
          &.form-group-icon-left{
            .form-control{
              padding-left: 35px;
              padding-right: 5px;
            }
          }
          input[type="text"]{
            height: 35px !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
          }
          .input-icon{
            width: 35px !important;
            height: 35px !important;
            line-height: 36px !important;
            font-size: 17px !important;
          }
          &>label {
            font-size: 15px;
            margin-bottom: 7px;
          }
          select{
            height: 35px;
            padding: 5px;
          }
        }
        .search_advance{
          .expand_search_box-more{
            .btn{
              padding: 4px 9px;
            }
          }
          .expand_search_box-less{
            .btn{
              padding: 4px 9px;
            }
          }
          .view_more_content_box{
            .form-custom-taxonomy{
              .col-sm-4{
                width: 50%;
                clear: none !important;
              }
              .checkbox{
                margin-top: 0px !important;
              }
            }
          }
        }
        button{
          &.btn-primary{
            padding: 8px 10px;
            font-size: 15px;
            float: right;
          }
        }
      }
    }
  }
}
.ct-right-home-page{
  .list_tours{
    .list_tour{
      .feature_class{
        display: none;
      }
      .thumb{
        border-radius: 5px;
        background: linear-gradient(#fff 75%, #dfdfdf);
        overflow: hidden;
        box-shadow: 0px 0px 10px #dfdfdf;
        border: 1px solid #dfdfdf;
        .st_sale_class{
          display: none;
        }
        .thumb-caption{
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
          overflow: hidden;
          ul{
            &.icon-group{
              display: none;
            }
          }
          p{
            &.text-darken{
              display: none;
            }
          }
          .thumb-title{
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 16px;
            a{
              color: #ed8323;
            }
          }
          small{
            .fa{
              margin-right: 3px;
            }
          }
        }
        .thumb-header{
          .hover-title-center{
            /* display: none; */
          }
        }
      }
      &:nth-child(1){
        padding-right: 7px;
      }
      &:nth-child(2){
        padding-left: 11px;
        padding-right: 11px;
      }
      &:nth-child(3){
        padding-left: 7px;
      }
    }
  }
  .wpb_video_widget{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
  }
}
.pm-info{
  table{
    tr{
      th{
        background-color: #dfdfdf;
      }
      td{
        font-size:13px;
      }
    }
  }
}

@media (max-width: 768px){
  .pm-info{
    table{
      tr{
        td{
          width: 100%;
          display: block;
          span{
            font-weight:500;
          }
        }
        &:nth-child(2n+1){
          td {
            background-color: #dadada;
          }
        }
      }
    }
  }
}

#top_toolbar {
  /*background: #fff;*/
  .left_topbar {
    .top-user-area-list {
      li {
        a {
          /*color:blue;*/
          .fa {
           vertical-align: baseline;
          }
        }
      }
    }
  }
}
/*#top_toolbar{
  .left_topbar{
    .top-user-area-list{
      padding-top: 1px;
      li{
        a{
          width: 30px;
          height:30px;
          background-color: #2A4CA7;
          display: block;
          color:#fff;
          border-radius: 50%;
          text-align: center;
          line-height: 30px;
          .fa{
            line-height: 30px;
            margin-left: 0;
            margin-right: 0 !important;
          }
        }
        &:nth-child(2){
          a{
            background: #045D86;
          }
        }
        &:nth-child(3){
          a{
            background: #EC3B29;
          }
        }
        &:nth-child(4){
          a{
            background: #44BAE9;
          }
        }
        &:nth-child(5){
          a{
            background: #0375B5;
          }
        }
      }
    }
  }

}*/
ul.slimmenu li a:before {
  top: 9px !important;
  font-size: 14px !important;
}

.search-form-text{
  h3 {
    font-size: 29px;
    line-height: 32px;
    margin-top: 5px;
  }
}

.ct-qr-code{
  padding-top: 50px;
  padding-bottom: 50px;
  border: none;
  background: #f1efef;
  .left-col{
    &.wpb_content_element{
      img{
        float: left;
        margin-right: 11px;
      }
      h3{
        font-size: 21px;
        font-weight: 500;
        line-height: 24px;
        position: relative;
        top: 15px;
        margin-bottom: 40px;
      }
      p{
        &:nth-child(1){
          display: block;
          float: none;
          width: 100%;
          clear: both;
          margin-bottom: 0px;
          font-weight: bold;
        }
        &:nth-child(2){
          display: block;
          float: none;
          width: 100%;
          clear: both;
          margin-bottom: 0px;
          font-weight: bold;
          margin-top: 13px;
        }
      }
    }
  }
  .right-col{
    .ct-get-app{
      display: flex;
      .wpcf7-form-control-wrap{
        margin-right: 5px;
        input{
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
        }
      }
    }
  }
  .ct-bottom-text{
    font-size: 13px;
    margin-top: 10px;
  }
  .ct-col-right{
    border-left: 1px solid #cac7c7;
    padding-left: 30px;
  }
}

@media (max-width: 991px) {
  .ct-qr-code {
    .ct-col-right {
      border-left: none;
      padding-left: 15px;
    }
  }
}
.gtranslate{
  padding-top: 10px !important;
  &:after{
    top: 40% !important;
  }
}
.gglobe {
  height: 30px !important;
  width: 30px !important;
  background-repeat: no-repeat !important;
}

@media (max-width: 992px) {
  .search-tabs-bg > .tabbable > .nav-tabs > li > a > span {
    display: inline-block !important;
  }
  .menu-collapser{
    background: transparent !important;
  }
  .ct-right-home-page .list_tours .list_tour:nth-child(1) {
    padding-right: 15px;
  }
  .ct-right-home-page .list_tours .list_tour:nth-child(2) {
    padding-right: 15px;
    padding-left: 15px;
  }
  .ct-right-home-page .list_tours .list_tour:nth-child(3) {
    padding-left: 15px;
  }
}

.ct-footer-social{
  li{
    a{
      width: 30px;
      height:30px;
      background-color: #2A4CA7 !important;
      display: block;
      color:#fff;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      .fa{
        line-height: 30px;
        margin-left: 0;
        margin-right: 0 !important;
      }
    }
    &:nth-child(2){
      a{
        background: #045D86  !important;
      }
    }
    &:nth-child(3){
      a{
        background: #EC3B29 !important;
      }
    }
    &:nth-child(4){
      a{
        background: #44BAE9 !important;
      }
    }
    &:nth-child(5){
      a{
        background: #0375B5 !important;
      }
    }
  }
}
#main-header{
  .main_menu_wrap{
    border-bottom: none;
  }
}